---
layout: default
---

<style>
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0; 
	font-size: 100%; 
	font: inherit; 
	vertical-align: baseline; 
	box-sizing: border-box; }

.section { font-size: 211.8%;letter-spacing: 0px; margin-bottom: 20px;  position: relative; }

.container {
    max-width: 960px;
    margin: 0;
    padding: 20px;
    font-family: Georgia,Times,Times New Roman,serif;
}

dl { margin-bottom: 20px; }

dt, dd { display: inline-block; vertical-align: top; margin-bottom: 20px; }
.infoheader { width: 38.2%; font-weight: bold; font-size: 261.8%}  

.jobheader, .schoolheader { width: 38.2%; padding-left: 5%; }
.company, .school { font-size: 161.8%; font-weight: bold; }
.title, .degree {	font-size: 100%;}
.time{	font-size: 61.8%;}

.jobdescription, .schooldescription { width: 61.8%; }
.infodescription { text-align:left; width: 61.8%; }
.result{  font-size: 100%; font-weight: bold; }



</style>

<div class="container">
	<dl class="info">
		<dt class="infoheader">
			{{site.data.resume.info.name}}
		</dt><!--
		--><dd class="infodescription">
			<em>{{site.data.resume.info.title}}</em>
			<p>{{site.data.resume.info.email}}</p>
			<p>{{site.data.resume.info.phone}}</p>
			<p>{{site.data.resume.info.location}}</p>
		</dd >
	</dl>
	<p class="section">Education</p>
	<dl class="education">
		{% for degree in site.data.resume.education %}
		<dt class="schoolheader">
			<p class="school">
				{{degree.school}}
			</p>
			<p class="degree">
				{{degree.degree}} 
			</p>
			<p class="time">
				{{degree.time}}, {{degree.location}}  
			</p>
		</dt><!--
		--><dd class="schooldescription">
			<em class="result">{{degree.gpa}}</em>
		</dd >
		{% endfor %}
	</dl>
	<p class="section">Experience</p>
	<dl class="jobhistory">
		{% for job in site.data.resume.experience %}
		<dt class="jobheader">
			<p class="company">
				{{job.company}}
			</p>
			<p class="title">
				{{job.title}} 
			</p>
			<p class="time">
				{{job.time}}, {{job.location}}  
			</p>
		</dt><!--
		--><dd class="jobdescription">
			<ul class="keyresults">
			{% for action in job.items%}
				<li class="action">
					{{action.action}} 
					<em class="result">
					{{action.result}}
					</em>
				</li>
			{% endfor %}
			</ul>
		</dd >
		{% endfor %}
	</dl>
</div >
